workflows/workflow_inline_buttons.json
{
    "name": "Telegram Bot Inline Buttons Log",
    "nodes": [
        {
            "parameters": {
                "updates": [
                    "message",
                    "callback_query"
                ]
            },
            "name": "Telegram Trigger",
            "type": "n8n-nodes-base.telegramTrigger",
            "typeVersion": 1,
            "position": [
                -320,
                128
            ],
            "credentials": {
                "telegramApi": {
                    "id": "tJ79p3FBisUVY8QN",
                    "name": "Telegram account"
                }
            }
        },
        {
            "parameters": {
                "values": {
                    "string": [
                        {
                            "name": "chatId",
                            "value": "={{ $json.message.chat.id }}"
                        }
                    ]
                }
            },
            "name": "Prepare Message Data",
            "type": "n8n-nodes-base.set",
            "typeVersion": 1,
            "position": [
                240,
                208
            ]
        },
        {
            "parameters": {
                "chatId": "={{ $json.chatId }}",
                "text": "Choose an option:",
                "replyMarkup": "inlineKeyboard",
                "inlineKeyboard": {
                    "rows": [
                        {
                            "row": {
                                "buttons": [
                                    {
                                        "text": "Red pill",
                                        "additionalFields": {
                                            "callback_data": "option_1"
                                        }
                                    },
                                    {
                                        "text": "Blue pill",
                                        "additionalFields": {
                                            "callback_data": "option_2"
                                        }
                                    }
                                ]
                            }
                        }
                    ]
                }
            },
            "name": "Send Inline Buttons",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1,
            "position": [
                496,
                208
            ],
            "credentials": {
                "telegramApi": {
                    "id": "tJ79p3FBisUVY8QN",
                    "name": "Telegram account"
                }
            }
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict",
                        "version": 3
                    },
                    "conditions": [
                        {
                            "leftValue": "={{ $json.callback_query }}",
                            "rightValue": "undefined",
                            "operator": {
                                "type": "object",
                                "operation": "exists",
                                "singleValue": true
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.3,
            "position": [
                -64,
                128
            ],
            "name": "IF json.callbackQuery exists"
        },
        {
            "parameters": {
                "values": {
                    "string": [
                        {
                            "name": "chatId",
                            "value": "={{ $json.callback_query.message.chat.id }}"
                        },
                        {
                            "name": "userName",
                            "value": "={{ $json.callback_query.message.chat.first_name }}"
                        },
                        {
                            "name": "buttonClicked",
                            "value": "={{ $json.callback_query.data }}"
                        }
                    ]
                }
            },
            "name": "Prepare Callback Data",
            "type": "n8n-nodes-base.set",
            "typeVersion": 1,
            "position": [
        240,
        32
            ]
        },
        {
            "parameters": {
                "schema": {
                    "mode": "name",
                    "value": "public"
                },
                "table": {
                    "mode": "name",
                    "value": "telegram_logs"
                },
                "columns": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "chat_id": "={{ $json.chatId }}",
                        "user_name": "={{ $json.userName }}",
                        "button_clicked": "={{ $json.buttonClicked }}"
                    },
                    "matchingColumns": [
                        "id"
                    ],
                    "schema": [
                        {
                            "id": "id",
                            "displayName": "id",
                            "required": false,
                            "defaultMatch": true,
                            "display": true,
                            "type": "number",
                            "canBeUsedToMatch": true,
                            "removed": true
                        },
                        {
                            "id": "chat_id",
                            "displayName": "chat_id",
                            "required": true,
                            "defaultMatch": false,
                            "display": true,
                            "type": "number",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "user_name",
                            "displayName": "user_name",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "button_clicked",
                            "displayName": "button_clicked",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "string",
                            "canBeUsedToMatch": true
                        },
                        {
                            "id": "created_at",
                            "displayName": "created_at",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "type": "dateTime",
                            "canBeUsedToMatch": true,
                            "removed": true
                        }
                    ],
                    "attemptToConvertTypes": false,
                    "convertFieldsToString": false
                }
            },
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.6,
            "position": [
        496,
        32
            ],
            "name": "PostgreSQL Insert Callback",
            "credentials": {
                "postgres": {
                    "id": "kfz3jqjvz5xbmQt5",
                    "name": "Postgres account"
                }
            }
        },
        {
            "parameters": {
                "chatId": "={{ $json.chatId }}",
                "text": "=Hi, {{ $json.userName }}! You chose {{ $json.buttonClicked == \"option_1\" ? \"a learning an unsettling or life-changing truth by taking the red pill\" : \"a remaining in the unquestioned experience of an illusion appearing as ordinary reality with the blue pill\" }}.",
                "additionalFields": {}
            },
            "name": "Reply Button Click",
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1,
            "position": [
        736,
        32
            ],
            "id": "6004510f-05ae-4474-80fe-ffc8da4fd39e",
            "webhookId": "59ed0504-9a18-49bc-8e65-32d4eec7ebdf",
            "credentials": {
                "telegramApi": {
                    "id": "FP1Gzr1DfdmOIbYE",
                    "name": "Telegram account"
                }
            }
        }
    ],
    "connections": {
        "Telegram Trigger": {
            "main": [
                [
                    {
                        "node": "IF json.callbackQuery exists",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Prepare Message Data": {
            "main": [
                [
                    {
                        "node": "Send Inline Buttons",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "IF json.callbackQuery exists": {
            "main": [
                [
                    {
                        "node": "Prepare Callback Data",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Prepare Message Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Prepare Callback Data": {
            "main": [
                [
                    {
                        "node": "PostgreSQL Insert Callback",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Reply Button Click",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}